c1 hex:   {{c1.p100.hex}}
c1 hex_r: {{c1.p100.hex_r}}
c1 int_g: {{c1.p100.int_g}}
c1 dec_b: {{c1.p100.dec_b}}

c0: {{foreground.p100.hex}}

c1 0:    #{{background.hex}}
c1 10:   #{{c1.p10.hex}}
c1 25:   #{{c1.p25.hex}}
c1 50:   #{{c1.p50.hex}}
c1 75:   #{{c1.p75.hex}}
c1 100:  #{{c1.p100.hex}}
c1 125:  #{{c1.p125.hex}}
c2 125:  #{{c2.p125.hex}}
c3 125:  #{{c3.p125.hex}}
c4 125:  #{{c4.p125.hex}}
c5 125:  #{{c5.p125.hex}}
c6 125:  #{{c6.p125.hex}}
c7 125:  #{{c7.p125.hex}}
red:     #{{red.p100.hex}}
ansi.red:#{{ansi.red.hex}}

